﻿@using Newtonsoft.Json

@model VendingMachine.Models.VendingMachineOptionsModel
@{
    ViewBag.Title = "My Vending Machine";
}

<div>
    <h2>Please choose a beverage of your choice:</h2>

    <table style="width:100%">
        @foreach (var option in Model.Options)
        {
            <tr>
                <td>
                    <div class="vm-option">
                        @option.Name
                    </div>
                </td>
                <td>
                    <div onclick="location.href='@Url.Action("Recipe", "Recipe", new { RecipeId = option.RecipeId, Name = option.Name, Instructions = JsonConvert.SerializeObject(option.Instructions)})'" class="vm-button" />
                </td>
            </tr>
        }
    </table>

</div>


