﻿.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.vm-option {
    font-size: 100px;
}

.vm-button {
    display: inline-block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color:darkgrey;
    border-color:darkgrey;
}
