﻿@model VendingMachine.Models.RecipeModel
@{
    ViewBag.Title = "Drink";
}

<div>
    <h2>@Model.Name : </h2>
    <ul>
        @{ var instructions = Newtonsoft.Json.JsonConvert.DeserializeObject<List<string>>(Model.Instructions[0]);}
        @foreach(var instruction in instructions)
        {
            <li>@instruction</li>
        }    
    </ul>
</div>

